body {
    
    background-image: url(52d9a0903cbc3.jpeg);
    background-size: 100%;
    color: red;
    font-family: 'Kirang Haerang', cursive;
    font-size: 50px;
    
}
input{
	font-size: 40px;
	color: black;
	margin-left: 500px;
	margin-top: 30px;
	font-family:'Kirang Haerang' ;

}
button{
	font-size: 40px;
	font-family:'Kirang Haerang'; 
	background-color: #008CBA; 
}
#num{
	background-color: #ffffcc;
}

div{
	font-size: 40px;
	color: black;
	

}
#msg1{
	font-size: 40px;
	color: yellow;
	margin-left: 500px;
}
#msg2{
	font-size: 40px;
	color: yellow;
	margin-left: 500px;
}
#msg3{
	font-size: 40px;
	color: yellow;
	margin-left: 500px;
}
